@import "../../styles/common.scss";

.item-chart-macro {
    .chart-items {

        display: flex;
        min-height: 30px;
        min-width: 30px;
        //border: 1px solid whitesmoke;
        align-self: center;
    }

    .content-item {
        display  : flex;
        flex-flow: row;
        gap      : 5px;

        .input-color {
            display    : flex;
            align-items: center;

            input {

                height: 80%;
            }
        }
    }
}

input[type="color"] {
    appearance   : none;
    border       : 1px solid #dddddd;
    padding      : 0;
    height       : 35px;
    width        : 17px;
    border-radius: 5%;
}

::-webkit-color-swatch {
    border: none;
}

.MuiListItemSecondaryAction-root {
    top  : 15% !important;
    right: 10px !important;
}

li.MuiListItem-container {
    border       : 1px solid whitesmoke;
    margin-left  : 5px;
    margin       : 5px;
    border-radius: 2%;
}

.MuiListItemText-root {
    margin-top: 0px;

    .MuiTypography-body1 {
        font-size: 0.6rem !important;
    }
}

.MuiListItem-secondaryAction {
    padding-right: 20px !important;
}

.MuiListItem-gutters {
    padding-left: 7px !important;
}

.ReactModal__Overlay--after-open {
    // background-color: rgb(133 128 128 / 75%);;
    background-color: rgba(7, 7, 7, 0.4) !important;
    position        : absolute;
    z-index         : 100;
}

.modal-select-chart {
    width          : 30%;
    height         : 40%;
    //border       : 1px solid whitesmoke;
    background     : white;
    border-radius  : 2%;
    position       : absolute;
    top            : 40%;
    left           : 50%;
    outline        : none;
    transform      : translate(-50%, -50%);
    min-width      : 150px;
    min-height     : 350px;

    .modal-header-type-chart {
        //border: 1px solid purple;
        width         : 100%;
        height        : 10%;
        display       : flex;
        flex-direction: row;
        padding       : 3px;

        .modal-header-none {
            width: 5%;
        }

        .modal-header-title {
            width          : 90%;
            display        : flex;
            justify-content: center;

            span {
                font-weight  : 600;
                border-bottom: 3px solid $colorsub;
            }
        }

        .modal-header-close {
            width          : 5%;
            display        : flex;
            justify-content: space-around;

            .modal-header-button-close {

                color: #bd0303;
            }
        }
    }

    .modal-chart-type {
        //border   : 1px solid greenyellow;
        width          : 100%;
        height         : 75%;
        display        : flex;
        flex-wrap      : wrap;
        padding        : 20px;
        gap            : 20px;
        justify-content: center;

        .hover-chart {
            &:hover {
                background-color: whitesmoke;
                cursor          : pointer;
            }
        }

        .line-chart {
            width          : 120px;
            height         : 120px;
            display        : flex;
            justify-content: center;
            padding        : 10px;
            flex-flow      : wrap;
            flex-flow      : column;
            place-items    : center;

            .image {
                width             : 70%;
                height            : 70%;
                //background-image: url('../../assets/images/line-chart.svg');
            }
        }


    }

    .modal-submit {
        //border: 1px solid gray;
        width : 100%;
        height: 15%;

    }

}